<div id="mainViewComponent">
  <div class="row" id="refreshuj">

    <div class="col-lg-4" id="odkryj">
      <p>Zaloguj się aby przeglądać zawartość</p>
    </div>

    <div class="col-lg-4" id="zakryj">
      <div>
        <main-view-item-image [icon]="faCar"></main-view-item-image>
        <br>
        <main-view-item-text title="Przejazdy"></main-view-item-text>
      </div>

      <div>
        <p>Wybierz miejsce docelowe oraz miejsce odbioru</p>
        <main-view-item-description-calculate-road></main-view-item-description-calculate-road>
      </div>

    </div>

    <div class="col-lg-4">
      <div>
        <main-view-item-image [icon]="faRoute"></main-view-item-image>
        <br>
        <main-view-item-text title="O nas"></main-view-item-text>
      </div>

      <div class="d-flex flex-column">
        <app-user-courses *ngIf="shouldShowLogin()" [user]="login"></app-user-courses>
      </div>

    </div>

    <div class="col-lg-4">
      <div>
        <main-view-item-image [icon]="faDollarSign"></main-view-item-image>
        <br>
        <main-view-item-text title="Ostanie kursy"></main-view-item-text>
      </div>

      <div class="d-flex flex-column">
        <app-user-courses></app-user-courses>
      </div>

    </div>

  </div>
</div>
