<div>
  <div id="links-footer">
    <ul class="row" id="footer">
      <li class="col-sm-3">
        <a href="#"> <fa-icon [icon]="faInstagram"></fa-icon> Instagram</a>
      </li>
      <li class="col-sm-3">
        <a href="#"> <fa-icon [icon]="faEnvelope"></fa-icon> Email</a>
      </li>
      <li class="col-sm-3">
        <a href="#"> <fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
      </li>
      <li class="col-sm-3">
        <a href="#"> <fa-icon [icon]="faFacebook"></fa-icon> Facebook</a>
      </li>
    </ul>
  </div>
  <div id="copyright">
    <span> Copyrights AC+WK+MK ©2020 </span>
  </div>

</div>
