#copyright{
  background-color: black;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
ul li{
  display: inline-block;
  text-decoration: none;
  padding-right: 50px;
  font-size: 28px;
  color:white;
  font-family: Bahnschrift;
  padding-bottom: 10px;
  padding-top: 10px;
}
p{
  font-size: 28px;
  color:white;
  font-family: Bahnschrift;
}
