<nav class="col-lg-12">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" (click)="openLoginDialog()">Login</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" (click)="openSignUpDialog()">Sign Up</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a href='#' class="nav-link" id="logoutBtn" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
