<nav class="col-lg-12">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Strona główna</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" (click)="openLoginDialog()">Zaloguj się</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" (click)="openSignUpDialog()">Zarejestruj się</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn()">
      <a href='#' class="nav-link" id="logoutBtn" (click)="logout()">Wyloguj się</a>
    </li>
  </ul>
</nav>
