<section class="flex-column">
  <div>
    <app-map-view [origin]="this.origin" [destination]="this.dest" [displayDirection]="this.displayDirections"></app-map-view>
  </div>
  <div id="courseInfo">
    <ul class="nav">
      <li class="nav-item">
        <p>Czas przejazdu</p>
        <p id="duration"></p>
      </li>
      <li class="nav-item">
        <p>Długość trasy</p>
        <p id="distance"></p>
      </li>
      <li class="nav-item">
        <p>Cena za przejazd</p>
        <p>{{course.price}} zł</p>
      </li>
    </ul>
    <div id="button">
      <button (click)="saveCourse()" type="button" class="btn btn-secondary">Zapisz kurs</button>
    </div>
  </div>
</section>
