div{
  background: black;
}
#courseInfo{
  height: 35vh;
}
ul li{
  display: inline-block;
  text-align: center;
}
li{
  width: 33%;
}
p{
  font-size: 28px;
  color:white;
  font-family: Bahnschrift;
  text-align: center;
}
ul{
  padding-top: 100px;
}

#button{
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  font-size: 25px;
  padding: 1% 6%;
  background: #EDE6E3;
  color: black;
  font-family: Bahnschrift;
}
button:hover{
  background: #EDE6E3;
  color: black;
  font-family: Bahnschrift;
}
