<div>
  <app-map-view [origin]="this.origin" [destination]="this.destination" [displayDirection]="this.displayDirections"></app-map-view>
  <mat-card-content>
    <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                  (onLocationSelected)="onLocationSelected($event)">
    </mat-google-maps-autocomplete>
  </mat-card-content>
  <mat-card-content>
    <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                  (onLocationSelected)="onDestinationLocationSelected($event)">
    </mat-google-maps-autocomplete>
  </mat-card-content>

</div>
