<div id="signUpMain">
    <form id="signUpForm">
      <div class="form-group">
        <label for="loginSignUp">Login</label>
        <input type="text" class="form-control" id="loginSignUp" placeholder="Enter Login">
      </div>
      <div class="form-group">
        <label for="emailSignUp">Email address</label>
        <input type="email" class="form-control" id="emailSignUp" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="passwordSignUp">Password</label>
        <input type="password" class="form-control" id="passwordSignUp" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="passwordSignUpRepeat">Password</label>
        <input type="password" class="form-control" id="passwordSignUpRepeat" placeholder="Enter Your Password Again">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
