div#links{
  background-color: bisque;
  max-width: 100vw;
}
div#links a{
  margin-top: 10px;
  font-size: 2vh;
  height: 100px;
}

ul#footer li{
  text-align: center;
  display: inline;
}

.row{
  max-width: 100vw;
}
